div#content {
  margin: 10px auto;
  max-width: 956px;
  min-width: 500px;
}

a {
  color: #F2F5D0;
  text-decoration: none;
}

ul, li {
  list-style: none;
}

h1, h2, h3 {
  font-family: 'Ubuntu';
  font-size: 40px;
  color: #E5DEA5;
}

h1 {
  font-size: 52px;
}

ul.rooms li {
  border: 1px solid #C7E0D1;
  border-radius: 10px;
  margin: 10px 0px;
  padding: 10px 0px;
  background: #292621;
  -moz-box-shadow: 0px 0px 4px #225; 
  -webkit-box-shadow: 0px 0px 4px #225; 
  box-shadow: 0px 0px 4px #225; 
  color: #C7E0D1;
  /*background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(20, 210,250)),
    color-stop(0.84, rgb(80,225,255)));
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(20,210,250) 0%,
    rgb(80,225,255) 84%);
  */
}
ul.rooms li span,
ul.rooms li em {
  font-family: 'Ubuntu';
  font-size: 16px;
  margin: 0px 10px;
);
  

}
ul.rooms li span.room_id {
  font-weight: 700;
}
ul.rooms li em {
  font-size: 13px;
}

ul.controls li {
  display: inline-block;
  border: 1px solid #C7E0D1;
  border-radius: 10px;
  margin: 10px 0px;
  padding: 10px 10px;
  background: #292621;
  -moz-box-shadow: 0px 0px 4px #225; 
  -webkit-box-shadow: 0px 0px 4px #225; 
  box-shadow: 0px 0px 4px #225; 
  color: #C7E0D1;
  font-family: 'Ubuntu';
  font-size: 14px;
}

div.album {
  border: 1px solid #C7E0D1;
  border-radius: 10px;
  margin: 10px 0px;
  padding: 10px 10px;
  background: #292621;
  -moz-box-shadow: 0px 0px 4px #225; 
  -webkit-box-shadow: 0px 0px 4px #225; 
  box-shadow: 0px 0px 4px #225; 
  color: #C7E0D1;
}
div.album dt {
  font-size: 16px;
  font-family: 'Ubuntu';
  margin-bottom: 10px;
}
div.album dd {
  margin-bottom: 1px;
  font-family: 'Ubuntu';
  padding: 0 0 0 10px;
}

body {
  background: #454A40;
}
