div#content {
  margin: 10px auto;
  max-width: 956px;
  min-width: 500px;
}

a {
  color: #F2F5D0;
  text-decoration: none;
}

ul, li {
  list-style: none;
}

h1, h2, h3 {
  font-family: 'Ubuntu';
  font-size: 40px;
  color: #EA4;
  text-shadow: inset rgba(0,0,0,0.3) -1px -2px;  
}

h1 {
  font-size: 52px;
}

ul.rooms li {
  border: 1px solid #EA4;
  border-radius: 10px;
  margin: 10px 0px;
  padding: 10px 0px;
  background: #222;
  -moz-box-shadow: 0px 0px 4px #225; 
  -webkit-box-shadow: 0px 0px 4px #225; 
  box-shadow: 0px 0px 4px #225; 
  color: #EA4;
  /*background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(20, 210,250)),
    color-stop(0.84, rgb(80,225,255)));
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(20,210,250) 0%,
    rgb(80,225,255) 84%);
  */
}
ul.rooms li span,
ul.rooms li em {
  font-family: 'Ubuntu';
  font-size: 16px;
  margin: 0px 10px;
}
ul.rooms li span.room_id {
  font-weight: 700;
}
ul.rooms li em {
  font-size: 13px;
}

ul.controls li {
  display: inline-block;
  border: 1px solid #EA4;
  border-radius: 10px;
  margin: 10px 0px;
  padding: 10px 10px;
  background: #222;
  -moz-box-shadow: 0px 0px 4px #225; 
  -webkit-box-shadow: 0px 0px 4px #225; 
  box-shadow: 0px 0px 4px #225; 
  color: #EA4;
  font-family: 'Ubuntu';
  font-size: 14px;
}

div.album {
  border: 1px solid #EA4;
  border-radius: 10px;
  margin: 10px 0px;
  padding: 10px 10px;
  background: #222;
  -moz-box-shadow: 0px 0px 4px #225; 
  -webkit-box-shadow: 0px 0px 4px #225; 
  box-shadow: 0px 0px 4px #225; 
  color: #EA4;
}
div.album dt {
  font-size: 16px;
  font-family: 'Ubuntu';
  margin-bottom: 10px;
}
div.album dd {
  margin-bottom: 1px;
  font-family: 'Ubuntu';
  padding: 0 0 0 10px;
}

body {
  background: #444;
}

table#library {
  margin-top: 5px;
}
table#library thead {
  background: #222;
  color: #EA4;
  height: 18px;
  border-radius: 0px 10px 0px 10px;
}
table#library th, table#library td{
}
table#library thead th{
  font-size: 14px;
  font-family: 'Ubuntu';
  font-weight: 300;
  padding: 10px;
  border: 1px solid #EA4;
}
table#library thead th.first{
  border-top-left-radius: 5px;
}
table#library thead th.last {
  border-top-right-radius: 5px;
  display: none;
}

table#library tbody#library-body {
  background: #222;
  color: #F2F5D0;
}

table#library tbody#library-body td {
  min-width: 150px;
  padding: 2px 2px 2px 15px;
  border: #727560 solid 1px;
}
table#library tbody#library-body td.last {
  display:none;
}
table#library tbody#library-body .ui-selected {
  color: #EA4;
  border: #EA4 solid 1px;
}
table#library tbody#library-body .ui-selecting {
  color: #222;
  background: #EA4;
}

